# Dependencies
node_modules
*.log*
.DS_Store

# Nuxt / module build
.nuxt
.output
.data
.cache

# Coverage / vitest
coverage

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist

# Env
.env
.env.*
!.env.example

# Editor
.idea
*.swp

playground/.nuxt
playground/.output
.nuxt

